@use '../../../styles/mixins.scss' as mixin;
@use '../../../styles/styles.scss' as styles;

section{
    @include mixin.d-flex($justify-content: space-between);
    height: 92px;
    background-color: styles.$background-color;
    padding: 0 16px;
}

.bg-color{
    background-color: styles.$background-color;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-img{
    width: 67px;
    height: 30px;
}

.menu-btn-img{
    width: 32px;
    height: 40px;
}

button{
    background-color: #FFFCF3;
    border: none;
    > img{
        width: 40px;
        height: 32px;
        
        &:hover{
            cursor: pointer;
        }
    }
}

.outlined{
    border: 2px solid styles.$highlight-color;
}

.menu-lang-wrap{
    @include mixin.d-flex($gap: 40px)
}

.lang-wrap{
    @include mixin.d-flex();
    button{
        width: 40px;
        height: 28px;
        @include mixin.font();
        @include mixin.d-flex();
    }
}

.menu-closed{
    display: none;
}

@media (max-width: 500px) {
    .menu-lang-wrap{
        gap: 16px;
    }
}