@use "../main/main.scss" as main;
@use "../../styles/mixins.scss" as mixin;
@use "../../styles/constants.scss" as const;

section{
    position: relative;
    padding: 0 16px;
    > div{
        padding-top: 56px;
        @include mixin.d-flex($flex-direction: column);
    }
}

.subtitle{
    color: const.$highlight-color;
    @include mixin.font("Overpass", 700, 32px);
}

.contact-form{
    @include mixin.d-flex($flex-direction: column, $gap: 20px);
}

h1{
    color: white;
    @include mixin.font("Syne", 800, 78px, $line-height:100%);
    letter-spacing: 1%;
    &:hover{
        color: const.$highlight-color;
    }
}

.checkbox-wrap{
    @include mixin.d-flex();
    color: const.$background-color;
    > span{
        @include mixin.font("Overpass", 400, 14px);
        > a{
            color: const.$highlight-color;
        }
    }
}

mat-form-field{
    width: 613px;
}

.contact-checkbox span {
  color: const.$background-color;
  @include mixin.font("Overpass", 400, 14px);
}

.contact-checkbox a {
  color: const.$highlight-color;
}

.btn-contact{
    color: const.$background-color;
    border: 4px solid const.$background-color;
    background-color: black;
}

.disabled{
    color: gray;
    border-color: gray;
    &:hover{
        // Hover effect to stop transition property of btn-main
        padding: 20px 60px;
        font-weight: 400;
        cursor: default;
    }
}

.message-send-response{
    position: absolute;
    top: 50%;
    left: 50%;
}

.message-success{
    background:  #005642;
    color: white;
    position: relative;
    left: -50%;
    top: -50%;
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 16px;
    animation: message-slide-in 250ms ease-out;
}

.message-error{
    background-color: darkred;
    color: white;
    position: relative;
    left: -50%;
    top: -50%;
    padding: 16px 24px;
    border-radius: 16px;
    font-size: 16px;
    animation: message-slide-in 250ms ease-out;
}


@keyframes message-slide-in {
    0%{
        opacity: 0;
        transform: translateY(16px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:1440px){
    h1{
        font-size: 64px;
    }
}

@media (max-width:1100px){
    h1{
        font-size: 60px;
    }
}

@media(max-width:800px){
    h1{
        font-size: 48px;
    }

    .subtitle{
        font-size: 24px;
    }
}

@media(max-width:700px){
    mat-form-field{
    width: 100%;
}
}

@media(max-width:440px){
    h1{
        font-size: 36px;
    }

    .subtitle{
        font-size: 20px;
    }
}

@media(max-width:340px){
    h1{
        font-size: 32px;
    }

    .btn-main{
        font-size: 20px;
    }
}