<section>
  @if ((language$ | async) === 'en') {
    <h1>Contact</h1>
    <div>
      <div class="subtitle">Let us get in touch!</div>
      <form class="contact-form">
        <mat-form-field appearance="outline" class="custom-text-input">
          <mat-label>Your name</mat-label>
          <input
            matInput
            type="text"
            [formControl]="name"
            (blur)="updateErrorMessage('name')"
            required
          />
          @if (name.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Your email</mat-label>
          <input
            matInput
            type="email"
            placeholder="yourcontact@domain.com"
            [formControl]="email"
            (blur)="updateErrorMessage('email')"
            required
          />
          @if (email.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Your message</mat-label>
          <textarea
            matInput
            rows="8"
            [formControl]="message"
            (blur)="updateErrorMessage('message')"
            required
          >
          </textarea>
          @if (message.invalid) {
            <mat-error>{{ errorMessage() }}</mat-error>
          }
        </mat-form-field>
        <div class="checkbox-wrap">
          <mat-checkbox type="checkbox" name="contact-checkbox" id="input-checkbox" />
          <span
            >I read the <a>privacy policy</a> and agree to the processing of my data as outlined.
          </span>
        </div>

        <input class="btn-main btn-contact" type="submit" value="Send message" />
      </form>
    </div>
  }
  @if ((language$ | async) === 'de') {
    <h1>Kontakt</h1>
    <div class="subtitle">Lassen Sie uns ins Gespräch kommen!</div>
  }
</section>
