<section>
  @if (texts$ | async; as texts) {
    <h1>{{ texts.title }}</h1>
    <div>
      <div class="subtitle">{{ texts.subtitle }}</div>
      <form class="contact-form">
        <mat-form-field appearance="outline" class="custom-text-input">
          <mat-label>{{ texts.nameLabel }}</mat-label>
          <input
            matInput
            type="text"
            [formControl]="name"
            (blur)="updateErrorMessage('name')"
            required
          />
          @if (name.invalid) {
            <mat-error>{{ nameErrorMessage() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ texts.emailLabel }}</mat-label>
          <input
            matInput
            type="email"
            placeholder="{{ texts.emailPlaceholder }}"
            [formControl]="email"
            (blur)="updateErrorMessage('email')"
            required
          />
          @if (email.invalid) {
            <mat-error>{{ emailErrorMessage() }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ texts.messageLabel }}</mat-label>
          <textarea
            matInput
            rows="8"
            [formControl]="message"
            (blur)="updateErrorMessage('message')"
            required
          >
          </textarea>
          @if (message.invalid) {
            <mat-error>{{ messageErrorMessage() }}</mat-error>
          }
        </mat-form-field>
        <div class="checkbox-wrap">
          <mat-checkbox type="checkbox" name="contact-checkbox" id="input-checkbox" />
          <span
            >{{ texts.privacyPrefix }}<a routerLink="privacy-policy">{{ texts.privacyLink }}</a>
            {{ texts.privacySuffix }}
          </span>
        </div>
        <input class="btn-main btn-contact" type="submit" value="{{ texts.submit }}" />
      </form>
    </div>
  }
</section>
