@use "../main/main.scss" as main;
@use "../../styles/mixins.scss" as mixin;
@use "../../styles/styles.scss" as styles;

$link-width: 640px;

section{
    @include mixin.d-flex($flex-direction: column, $gap:35px);
    @include mixin.font("Syne", 700, 96px);
    height: calc(100vh - 390px);
}

.menu-lnk{
    width: $link-width;
    color: black;
    @include mixin.d-flex();
    padding-bottom: 8px;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 39px;
        border-bottom: 4px solid black;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 52px;
        border-left: 4px solid black;
    }

    &:hover::before {
        width: 208px;
        right: 0;
        left: calc($link-width - 208px);
        border-color: styles.$highlight-color;
        transition: 0.75s ease;
        transition-delay: 0.3s;;    
    }

    &:hover::after {
        height: 0;
        transition: 0.3s ease;
    }
}

@media(max-width: 1440px){
    section{
        font-size: 80px;
        height: calc(100vh - 290px);
    }

    .menu-lnk{
        width: 560px;
        
        &:hover::before {
            width: 160px;
            left: calc(560px - 160px);
        }
    }
}

@media(max-width: 1024px){
    section{
        font-size: 60px;
    }

    .menu-lnk{
        width: 440px;
        
        &:hover::before {
            width: 100px;
            left: calc(440px - 100px);
        }
    }
}

@media(max-width: 600px){
    section{
        font-size: 48px;
    }

    .menu-lnk{
        width: 330px;
        
        &:hover::before {
            width: 64px;
            left: calc(330px - 64px);
        }
    
        &::after{
            height: 40px;
        }
    }
}

@media(max-width: 400px){
    section{
        font-size: 40px;
    }

    .menu-lnk{
        width: 280px;
        
        &:hover::before {
            width: 64px;
            left: calc(280px - 64px);
        }
    
        &::after{
            height: 40px;
        }
    }
}