@mixin d-flex($flex-direction: row, $justify-content: center, $align-items: center, $gap:8px){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin font($name: "Syne", $weight: 700, $size: 16px, $line-height: 120%, $letter-spacing: 0%, $style: normal,){
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}