@use "../main/main.scss" as main;
@use "../../styles/mixins.scss" as mixin;
@use "../../styles/styles.scss" as styles;

$project-img-height: 393px;

section{
    @include mixin.d-flex($flex-direction: column, $gap: 0px)
}

h1{
    transform: translateY(50%);
    background-color: styles.$background-color;
    padding: 0 16px;
}

.portfolio-wrap{
    padding: 100px 0px;
    width: 100%;
    @include mixin.d-flex($flex-direction: column, $gap: 80px);
}

.project-wrap{
    > a{
        > img{
            width: 620px;
            height: $project-img-height;
        }
    }
}

.uneven{
    @include mixin.d-flex($justify-content: flex-start, $align-items: flex-start, $gap: 80px)
}

.even{
    @include mixin.d-flex($justify-content: flex-end, $align-items: flex-start, $gap: 80px)
}

aside{
    height: $project-img-height;
    @include mixin.d-flex($flex-direction: column, $justify-content: space-between);
}