<div class="center-content">
  <div class="max-width-1440px">
    <section>
      <h1 class="h1-main">Portfolio</h1>
      <div class="portfolio-wrap">
        <div class="project-wrap uneven">
          <a href="https://join.felixwagner.eu/index.html">
            <div class="img-frame-onhover-uneven">
              <img src="assets/img/join.png" alt="Join project cover" />
            </div>
          </a>
          <aside class="aside-uneven">
            <div class="number">1/2</div>
            <div class="description-wrap">
              <span class="title">Join</span>
              <span class="subtitle">JavaScript | HTML | CSS | Firebase</span>
              @if ((language$ | async) === 'en') {
                <span class="description">
                  Team tast manager inspried by the Kanban System. Create and organize tasks, assign
                  users, categories and deadlines (Group-Project).
                </span>
              }
              @if ((language$ | async) === 'de') {
                <span class="description">
                  Team tast manager nach Vorbild des Kanban Systems. Erstelle und verwalte Aufgaben,
                  weise ihnen Nutzer, Kategorien und Fristtermine zu (Gruppen-Projekt).
                </span>
              }
              <a href="" class="btn-main">Github</a>
            </div>
          </aside>
        </div>
        <div class="project-wrap even">
          <aside class="aside-even">
            <div class="number">2/2</div>
            <div class="description-wrap">
              <span class="title">Pollo Loco</span>
              <span class="subtitle">JavaScript | HTML | CSS</span>
              @if ((language$ | async) === 'en') {
                <span class="description">
                  Object-orientated 2D browser game. Help Pepe to find coins and defend against
                  cracy chickens in the Mexican desert.
                </span>
              }
              @if ((language$ | async) === 'de') {
                <span class="description">
                  Objektorientiertes 2D Browser-Spiel. Hilf Pepe in der Mexikanischen Wüste Münzen
                  zu sammeln und sich gegen Angriffe verrückter Hühner zu verteidigen.
                </span>
              }
              <a href="" class="btn-main">Github</a>
            </div>
          </aside>
          <a href="https://pollo-loco.felixwagner.eu/index.html">
            <div class="img-frame-onhover-even">
              <img src="assets/img/pollo-loco.png" alt="Pollo Loco project cover" />
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
