@use "../../styles/mixins.scss" as mixin;
@use "../../styles/styles.scss" as styles;


.h1-main{
    margin: 0;
    @include mixin.font("Syne", 800, 78px, $line-height: 100%, $letter-spacing: 1%);
    color: black;
    &:hover{
        color: styles.$highlight-color;
    }
}