@use "../main/main.scss" as main;
@use "../../styles/mixins.scss" as mixin;
@use "../../styles/styles.scss" as styles;

section{
    @include mixin.d-flex($flex-direction: column, $gap: 0px);
    > div{
        width: min(100%,1440px);
        padding: 100px;
        padding-top: 120px;
        border: 4px solid black;
        @include mixin.d-flex($flex-direction: column, $gap: 72px);
    }
}

h1{
    transform: translateY(50%);
    background-color: styles.$background-color;
    padding: 0 16px;
}

.skills-content{
    @include mixin.d-flex($gap:128px)
}

.skill-icon-wrap{
    @include mixin.d-flex($flex-direction: column, $gap:10px);
    @include mixin.font("Overpass", 700, 16px);
    > img{
        width: 75px;
        height: 75px;
        &:hover{
            transition-delay: 100ms;
            transform: rotateY(360deg);
            transition: all 1.5s ease;
        }
    }
}

.continue-skills{
    @include mixin.d-flex($gap: 32px);
    @include mixin.font("Overpass", 400, 22px);
    > img{
        width: 75px;
        height: 75px;
        transform: rotate(0) scale(1);
        transition: all 1.25s ease;
        transition-delay: 100ms;
        &:hover{
            transform: rotate(-360deg) scale(1.25);
        }
    }
}

.next-section-link{
    height: 300px;
    width: 100%;
    @include mixin.d-flex($justify-content: flex-start, $align-items: flex-start);
    padding: 32px 32px;
    > img{
        height: 300px;
        width: 1239px;
    }
}