<div class="center-content">
  <div class="max-width-1440px">
    <section>
      @if ((language$ | async) === 'en') {
        <h1 class="h1-main">My skills</h1>
      }
      @if ((language$ | async) === 'de') {
        <h1 class="h1-main">Fähigkeiten</h1>
      }
      <div>
        <div class="skills-content">
          <div class="skill-icon-wrap">
            <img src="assets/icons/angular.svg" alt="" />
            Angular
          </div>
          <div class="skill-icon-wrap">
            <img src="assets/icons/typescript.svg" alt="" />
            TypeScript
          </div>
          <div class="skill-icon-wrap">
            <img src="assets/icons/javascript.svg" alt="" />
            JavaScript
          </div>
          <div class="skill-icon-wrap">
            <img src="assets/icons/sql.svg" alt="" />
            SQL
          </div>
          <div class="skill-icon-wrap">
            <img src="assets/icons/git.svg" alt="" />
            Git
          </div>
        </div>
        <div class="continue-skills">
          <img src="assets/icons/continue-learning.svg" alt="" />
          <span>
            @if ((language$ | async) === 'en') {
              I expand my skills continuously.
            }
            @if ((language$ | async) === 'de') {
              Ich erweitere beständig meine Fähigkeiten.
            }
          </span>
        </div>
      </div>
    </section>
    <a routerLink="" fragment="my-portfolio" class="next-section-link">
      <img src="assets/img/section-folder-to-right/default.svg" alt="Link to portfolio section" />
    </a>
  </div>
</div>
