@use '../../styles/mixins.scss' as mixin;
@use '../../styles/styles.scss' as styles;

section{
    height: calc(100vh - 92px);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-wrap{
    padding-top: 102px;
    @include mixin.d-flex($flex-direction: column, $gap: 16px);
    > b{
        @include mixin.font("Syne", 800, 128px, 100%, -2.5%)
    }
    > div{
        @include mixin.d-flex($gap: 16px);
        width: 100%;
        > span{
            @include mixin.font("Overpass", 700, 48px, 100%, -2.5%);
            color: styles.$highlight-color;
            white-space: nowrap;
        }
    }
}

.hl{
    width: min(100%, 704px);
    border-top: 3px solid black;
    border-radius: 8px;
}

.email-scroll-wrap{
    @include mixin.d-flex($justify-content: space-between, $align-items: flex-end);
    min-height: 280px;
    @include mixin.font("Overpass", 300, 22px);
}

.email{
    transform: rotate(270deg) translateY(100%);
    transform-origin: left bottom;
    color: black;
}

.arrow-wrap{
    width: 56px;
}

.arrow{
    width: 100%;
    height: 180px;
    background-image: url("../../assets/img/scroll-down-arrow-plain.svg");
    background-position: top center;
    background-repeat: no-repeat;
    animation: scrollDownArrow 3s ease infinite;
}

@keyframes scrollDownArrow {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: translateY(80px);
        opacity: 0;
    }
}

@media (max-width: 1440px) {
    .title-wrap > b{
        font-size: 92px;
    }

    .title-wrap > div > span{
        font-size: 32px;
    }

    .hl{    
        width: min(100%, 520px);
    }
}

@media (max-width: 950px) {
    section{
        padding: 0 64px;
    }
}

@media (max-width: 900px){
    .title-wrap > b{
        font-size: 72px;
    }

    .title-wrap > div > span{
        font-size: 24px;
    }

    .hl{    
        width: min(100%, 410px);
    }
}

@media (max-width: 720px){
    section{
        padding: 0 32px;
    }

    .title-wrap > b{
        font-size: 60px;
    }

    .title-wrap > div > span{
        font-size: 24px;
    }

    .hl{    
        width: min(100%, 320px);
    } 

    .email-scroll-wrap{
        font-size: 16px;
        min-height: auto;
    }

    .arrow-wrap{
        width: 40px;
    }

}

@media (max-width: 560px){
    section{
        padding: 0 16px;
    }
    .title-wrap > b{
        font-size: 45px;
    }

    .title-wrap > div > span{
        font-size: 23px;
    }

    .hl{    
        width: min(100%, 200px);
    } 
}

@media (max-width: 400px){
    .title-wrap > b{
        font-size: 32px;
    }

    .title-wrap > div > span{
        font-size: 16px;
    }

    .hl{    
        width: min(100%, 150px);
    } 
}

@media (max-height: 700px){
    .title-wrap{
        padding-top: 0;
    }

    .email-scroll-wrap{
        min-height: auto;
    }
    
    section{
        gap: 24px;
    }
}