<div class="center-content">
  <div class="max-width-1440px">
    <section>
      <div class="title-wrap">
        <b>Frontend</b>
        @if ((language$ | async) === 'en') {
          <b>Developer</b>
        }
        @if ((language$ | async) === 'de') {
          <b>Entwickler</b>
        }
        <div>
          <div class="hl"></div>
          <span>Felix Wagner</span>
        </div>
      </div>
      <div class="email-scroll-wrap">
        <a routerLink="" fragment="contact" class="email">kontakt@felixwagner.eu</a>
        <div class="arrow-wrap" routerLink="" fragment="about-me">
          <div class="arrow"></div>
          @if ((language$ | async) === 'en') {
            <span>Scroll</span>
            <br />
            <span>Down</span>
          }
          @if ((language$ | async) === 'de') {
            <div class="scroll-down-wrap">
              <span>Weiter</span>
              <span>nach</span>
              <span>unten</span>
            </div>
          }
        </div>
      </div>
    </section>
  </div>
</div>
